<!DOCTYPE html>
{% autoescape off %}
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% load crispy_forms_tags %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        th,td {padding-left: 10px; padding-right:10px; padding-top:5px;}
    </style>
</head>

<body>
    <!-- Dynamic navbar that will show sites accessible to the user-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Payment Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Transactions</a>
                        <div class="dropdown-menu">
                            <a class="nav-link" href="/transactions/makeTransaction">Make Payment</a>
                            <a class="nav-link" href="/transactions">View Transactions</a>
                            <a class="nav-link" href="/transactions/requestTransaction">Request Payment</a>
                            <a class="nav-link" href="/transactions/TransactionRequests">Transaction Requests</a>
                        </div>
                    </li>
                    {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container py-5">
	{% block content %}
	{% endblock %}
    </div>

    {% if messages %} <!-- show django messages at the end of forms -->

        <div class="container">
            <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>

    {% endif %}
</body>
</html>

{% endautoescape %}