{% extends 'webapps2026/base.html' %}

{% block title %}
    My Transactions
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>My Transactions: </h1>
        <br>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Amount sent</th>
                <th>Date</th>
            </tr>
            {% for trans in transactions %}
                <tr>
                    <td>{{ trans.recipient_username }}</td>
                    <td>{{ trans.payee_username }}</td>
                    <td>{{ trans.amount }}</td>
                    <td>{{ trans.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>You are not logged in!</h1>
        <p>To view your transactions, <a href="/templates/register/login.html">Login here</a></p>
    {% endif %}
{% endblock %}